* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

.todo-row {
    background-color: #161414;
    width: fit-content;
    margin: 64px auto;
    max-height: 80vh;
    overflow-y: auto;
    padding: 2%;
}

.todo-col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;

}

.todo-col input {
    width: 50%;
    padding: 12px;
    outline-color: #1e8f07;
}

.todo-col button {
    color: black;
    padding: 12px 28px;
    background-color: #1e8f07;
    border: none;
    position: relative;
    left: 9px;
}

.todo-col p {
    color: #1e8f07;
}

.todo-col1 {
    margin: 39px 0;
}

.todo-value {
    padding: 26px;
    margin: 12px;
    display: flex;
    align-items: center;
    background-color: #0f0d0d;
    color: green;
}

.todo-content {
    width: 80%;
}

.icons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.error-msg {
    color: rgb(179, 17, 17);
    padding: 24px 24px 0;

}

.del-icon {
    color: rgb(245, 235, 235);
}

.del-icon:hover {
    color: rgb(179, 17, 17);
    transition: 0.7s ease all;
    cursor: pointer;
}

.edit-icon {
    color: rgb(245, 235, 235);
    cursor: pointer;
}

.todo-content p {
    color: #ffffff70;
    font-size: 15px;
}

#tick-icon {
    font-size: 22px;
    color: green;
}

.tick-icon {
    color: white;
}

.todos {
    display: flex;
    margin: 16px 0 0 10px;
}

.todos button {
    color: black;
    padding: 12px 28px;
    border: none;
    cursor: pointer;
    background-color:#3f3939;
}

.todoslist{
    background-color:#1e8f07;
}

#todos{
    background-color: gray;
}

